<div class="main-container">
<h1 class="title">CRIAR UTILIZADOR</h1>
<div class="registo">
  <label type="username">Username</label>
      <input #username type="text" name="username" id="username" placeholder="Insira o username">
      <p></p>
      <label type="password">Password</label>
      <input #password type="password" name="password" id="password" placeholder="Insira a password">
      <p></p>
      <select #characters (change)="changeImage(characters.value)" class="characters" name="characters" id="characters" >
        <option value="0">Military</option>
        <option value="1">Plumber</option>
        <option value="2">Rex</option>
        <option value="3">Knight</option>
      </select>
      <div class="img">
          <img id="characterClass" src="../../assets/militar_psg.png" alt="">
      </div>
      <input  (click)=" signCont(username.value, password.value) ; signUp(username.value,characters.value, password.value)" class="criaruser" [routerLink]="['/login']" routerLinkActive="active" type="submit" value="CRIAR UTILIZADOR">
      <input class="inicio" [routerLink]="['/*']" routerLinkActive="active" type="submit" value="INÍCIO">
</div>
</div>
